/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
body{
  size: 30px;
  text-align: center;
}
h1,h2{
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes example {
  0%   {color:red;}
  25%  {color: #e81ab5;}
  50%  {color:blue;}
  75%  {color:green;}
  100% {color:red;}
}
