
<app-rate-model [selected]="count"></app-rate-model>
<ngb-carousel style="width: 75%;margin: auto;color: chocolate" interval="false"  *ngIf="images" (slide)="onSlide($event)">
  <ng-template *ngFor="let image of images; let i = index" ngbSlide [id]="'slideId_' + image.id">
    <a class="carousel-control-next" style="color: darkred"><a class="btn btn-primary"  style="width: 200px"><h3>Next Photo</h3></a></a>
    <a class="carousel-control-prev" style="color: darkred"><a class="btn btn-primary" style="width: 200px"><h3>Prev Photo</h3></a></a>
    <div class="picsum-img-wrapper">
      <img [src]="image.url" alt="Random first slide" style="width: 40%">
    </div>
  </ng-template>
</ngb-carousel>
